/*------------------------------------------------------------------
Bootstrap Admin Template by EGrappler.com
------------------------------------------------------------------*/
.panelhora>#panelTurnoActual
{
  height: 50%;
  margin-top: 5%;
}

.panelhora>#panelTurnoActual>table
{
  font-size: 80%;
}

.panelhora>#panelTurnoActual>table>tbody>tr>td
{
  background: #00BA8B;
  color: white;
}

.panelhora>#panelTurnoActual>table>tbody>tr>td:hover
{
  background: #00BA8B;
  color: white;
}

.panelhora>#TT_tCNkkE1EEnncMBIKNfzDYiJCcUaKT4SlbdEdEZCIakD5G535G
{
  margin: auto;
}

.panelinterno1
{
  margin-top: 1%;
}

.panelprincipal
{
  margin-top: 3%;
}

.contenedor{
width:95%;
height:95%;
margin:auto}

.panelpropaganda{
width:70%;
height:26%;
float:left;
border-style:solid;
border-color:#f9f6f1;
box-sizing:border-box}

.panelinterno1 img
{
  width: 100%;
}

.panelinterno1{
float:left;
width:33.33%;
box-sizing:border-box}

#tablaTurnos thead
{
  display: none;
}

#tablaTurnos
{
  height: 100%;
}

#tablaTurnos tr
{
  height: 33.3%;
}

#tablaTurnos tr td
{
  text-align: center;
  font-size: 500%;
}

.navbar-fixed-top
{
  display: none;
}

.panelhora{
width:30%;
height:26%;
float:left;
border-style:solid;
border-color:#f9f6f1;
box-sizing:border-box}

.panelfin{clear:both}

.panelprincipal{
width:100%;
height:74%;
border-style:solid;
border-color:#f9f6f1;
box-sizing:border-box}